body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    background-color: rgb(174, 237, 237);
}
#grid{
    width: 600px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 5px 10px 8px 10px #acacac;
}
h2,h3{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}